{% extends 'base.html' %}

{% load static i18n template_tags %}

{% block title %}{% trans "Бронирование билета" %}{% endblock title %}

{% block main_content %}
    <div class="container-fluid" style="min-height:46vh;">
        {% if about_cinema.main_image %}
            <img id="about_cinema_image" class="text-center w-100" src="{{MEDIA_URL}}{{about_cinema.main_image.url}}" alt="about_cinema_image" height="400px">
        {% endif %}
        <div class="row mt-3">
            <div class="col-md-2">
                {% if session.movie.poster %}
                    <img class="w-100" src="{{MEDIA_URL}}{{session.movie.poster.url}}" alt="{{session.movie.name}}_poster">
                {% endif %}
                <div class="position-sticky mt-2" style="top: 2rem;">
                    <div class="carousel slide" id="carouselControls" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        {% for image in advertise_page.gallery.all %}
                        {% if not forloop.counter0 %}
                            <div class="carousel-item active" data-bs-interval="{{main_page_baner.rotational_speed|sec_to_ms}}">
                        {% else %}
                            <div class="carousel-item" data-bs-interval="{{main_page_baner.rotational_speed|sec_to_ms}}">
                        {% endif %}
                            <a href="{{image.url}}"><img class="d-block w-100" src="{{MEDIA_URL}}{{image.image.url}}" alt="..." height="300px"></a>
                        </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h3>{{session.movie.name}}</h3>
                        <span class="fs-6 text-secondary">{{session.time}}, {% trans "Зал" %} №{{session.hall.number}}</span>
                        <div class="row">
                            <div class="col-md-3">
                                <div>{% trans "Цена в грн." %}: <span id="session_price" price="{{session.price}}" class="text-light bg-warning">{{session.price}}</span></div>
                            </div>
                            <div class="col-md-3">
                                <div>{% trans "VIP цена" %}: <span id="vip_price" price="{{session.vip_price}}" class="text-light bg-warning">{{session.vip_price}}</span></div>
                            </div>
                            <div class="col-md-6">
                                <div>{% trans "Ваш заказ" %}: <span class="border border-3 border-warning">
                                    {% trans "Билетов" %}: <span id="tickets">0</span>
                                    {% trans "Сумма" %}: <span id="summ">0</span>
                                </span></div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <img id="id-screen-img" class="w-100" src="{% static 'img/screen.png' %}" alt="screen">
                        </div>
                        <div id="id_hall_scheme">
                            {% for row in rows %}
                            <div class="row justify-content-center mt-2" id="row_{{row}}">
                                {% get_hall_row_places session.hall row  as row_places %}
                                {% if row_places.0.row > 0 %}
                                    <label for="row_{{row}}" class="fs-4 col-1 d-flex align-items-center form-col-label">{% trans "Ряд" %} {{row_places.0.row}}</label>
                                {% else %}
                                    <label for="row_{{row}}" class="col-1 form-col-label"> </label>
                                {% endif %}
                                {% for place in row_places %}
                                    <div id="row_{{place.real_row}}_col_{{place.real_position}}" style="height: 53px; width: 53px;" >
                                        {% if place.number < 0 %}
                                            {% define "invisible" as btn_class %}
                                            <button class="invisible m-1" type="button" style="height: 50px; width: 50px;"></button>
                                        {% else %}
                                            {% get_ticket_from_place session place as ticket %}
                                            {% if ticket.place.is_vip %}
                                                {% if ticket.status == '0' %}
                                                    {% define "success free" as btn_class %}
                                                {% elif ticket.status == '1' %}
                                                    {% define "warning bg-gradient" as btn_class %}
                                                {% elif ticket.status == '2' %}
                                                    {% define "danger bg-gradient" as btn_class %}
                                                {% endif %}
                                                {% define ticket.place.number as number %}
                                            {% else %}
                                                {% if ticket.status == '0' %}
                                                    {% define "info free" as btn_class %}
                                                {% elif ticket.status == '1' %}
                                                    {% define "primary bg-gradient" as btn_class %}
                                                {% elif ticket.status == '2' %}
                                                    {% define "dark bg-gradient" as btn_class %}
                                                {% endif %}
                                                {% define ticket.place.number as number %}
                                            {% endif %}
                                            <button class="badge bg-{{btn_class}} {{extra_btn_class}} fs-6 text-wrap"
                                                ticket-id="{{ticket.pk}}" type="button" pos="{{place.real_position}}" style="height: 50px; width: 50px;"
                                                vip="{{ticket.place.is_vip}}" id="row_{{place.real_row}}_col_{{place.real_position}}_btn"><span>{{number}}</span>
                                            </button>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                        <div class="row mt-3">
                            <div class="fs-6">{% trans "Стоимость услуги бронирования - 3 грн. за каждое место." %}</div>
                        </div>
                        <div class="row">
                            <div class="fs-6">{% trans "ЗАБРОНИРОВАННЫЕ БИЛЕТЫ НУЖНО ВЫКУПИТЬ В КАССЕ КИНОТЕАТРА НЕ ПОЗДНЕЕ ЧЕМ ЗА ПОЛЧАСА ДО НАЧАЛА СЕАНСА." %}</div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <form class="col-lg-2" action="." method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="id_selected_tickets1" name="selected_tickets_book" value="">
                                <button class="btn btn-outline-success" type="submit">{% trans "Забронировать" %}</button>
                            </form>
                            <form class="col-lg-2" action="{% url 'app:buy_tickets_for_session' session.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="id_selected_tickets2" name="selected_tickets_buy" value="">
                                <button class="btn btn-success" type="submit">{% trans "Купить" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/book-ticket.js' %}"></script>
{% endblock extra_js %}