{% extends 'admin/base.html' %}

{% load static i18n %}

{% block title %}{% trans "Список кинотеатров" %}{% endblock title %}

{% block extra_css %}
<style>
@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after, 
    .flex-row.row:before {
        display: flex;
    }
}
</style>
{% endblock extra_css %}

{% block main_content %}
    <div class="container-fluid" style="margin-top: 75px">
        {% csrf_token %}
        <div class="row justify-content-md-end">
            <a href="{% url 'admin:cinema_add' %}" class="float-end btn btn-primary">{% trans "Добавить кинотеатр" %}</a>
        </div>
        <div class="form-group g-3">
            <h4 class="form-label text-center">{% trans "Список кинотеатров" %}</h4>
            <div class="row flex-row">
                {% for cinema in cinemas %}
                <div class="col-md-6 col-xl-3">
                    <div class="card ms-2" style="padding:10px;">
                        <button class="col-2 btn btn-dark text-center align-self-end mb-2" delete-url="{% url 'admin:cinema_delete' cinema.pk %}" type='button' onclick="deleteCinema(this)">X</button>
                        <img id="cinema_logo_{{forloop.counter0}}" class="align-self-center w-100" src="{{ MEDIA_URL }}{{ cinema.logo.url }}" alt="{{ cinema.logo.url }}">
                        <div class="card-body">
                            <a class="link-primary text-center" href="{% url 'admin:cinema_update' cinema.pk %}">
                                <h4 class="fs-1">{{ cinema.name }}</h4>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'admin/custom/js/cinemas_list.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script>
        $(function() {
            $('.card.ms-2').matchHeight();
        });
    </script>
{% endblock extra_js %}