{% extends 'admin/base.html' %}

{% load static i18n %}

{% block extra_css %}
<style>
@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after, 
    .flex-row.row:before {
        display: flex;
    }
}
</style>
{% endblock extra_css %}

{% block title %}{% trans "Фильмы" %}{% endblock title %}

{% block main_content %}
    <div class="container-fluid" style="margin-top: 75px">
        {% csrf_token %}
        <div class="row justify-content-md-end">
            <a href="{% url 'admin:movie_add' %}" class="float-end btn btn-primary">{% trans "Добавить фильм" %}</a>
        </div>
        {% if active_movies %}
        <div class="form-group g-3">
            <h4 class="form-label text-center">{% trans "Список фильмов в прокате" %}</h4>
            <div class="row flex-row">
                {% for movie in active_movies %}
                <div class="col-md-6 col-xl-3">
                    <div class="card ms-2" style="padding:10px;">
                        <button class="col-2 btn btn-dark text-center align-self-end mb-2" delete-url="{% url 'admin:movie_delete' movie.pk %}" type='button' onclick="deleteMovie(this)">X</button>
                        <img id="active_movie_image_{{forloop.counter0}}" class="align-self-center w-100" src="{{ MEDIA_URL }}{{ movie.poster.url }}" alt="{{ movie.name }}">
                        <div class="card-body">
                            <a class="link-primary text-center" href="{% url 'admin:movie_update' movie.pk %}"><h4 class="fs-1">{{ movie.name }}</h4></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if soon_movies %}
        <div class="form-group g-3">
            <h4 class="form-label text-center">{% trans "Список фильмов, которые скоро покажут" %}</h4>
            <div class="row flex-row">
                {% for movie in soon_movies %}
                <div class="col-md-6 col-xl-3">
                    <div class="card ms-2" style="padding:20px;">
                        <button class="col-2 btn btn-dark text-center align-self-end mb-2" type='button' delete-url="{% url 'admin:movie_delete' movie.pk %}" onclick="deleteMovie(this)">X</button>
                        <img id="active_movie_image_{{forloop.counter0}}" class="align-self-center w-100" src="{{ MEDIA_URL }}{{ movie.poster.url }}" alt="{{ movie.name }}">
                        <div class="card-body">
                            <a class="link-primary text-center" href="{% url 'admin:movie_update' movie.pk %}"><h4 class="fs-1">{{ movie.name }}</h4></a>
                        </div>
                    </div>
                </div>
                {% comment %} {% empty %}
                    <h5 class="form-label">На данный момент нету запланированых к прокату фильмов</h5> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if retired_movies %}
        <div class="form-group g-3">
            <h4 class="form-label text-center">{% trans "Список фильмов, которые вышли из проката" %}</h4>
            <div class="row flex-row">
                {% for movie in retired_movies %}
                <div class="col-md-6 col-xl-3">
                    <div class="card ms-2" style="padding:20px;">
                        <button class="col-2 btn btn-dark text-center align-self-end mb-2" type='button' delete-url="{% url 'admin:movie_delete' movie.pk %}" onclick="deleteMovie(this)">X</button>
                        <img id="active_movie_image_{{forloop.counter0}}" class="align-self-center w-100" src="{{ MEDIA_URL }}{{ movie.poster.url }}" alt="{{ movie.name }}">
                        <div class="card-body">
                            <a class="link-primary text-center" href="{% url 'admin:movie_update' movie.pk %}"><h4 class="fs-1">{{ movie.name }}</h4></a>
                        </div>
                    </div>
                </div>
                {% comment %} {% empty %}
                    <h5 class="form-label">На данный момент нету вышедших из проката фильмов</h5> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock main_content %}

{% block extra_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="{% static 'admin/custom/js/movie_list.js' %}"></script>
{% endblock extra_js %}