{% extends 'admin/base.html' %}

{% load static widget_tweaks i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin/plugins/summernote/summernote-bs4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
    <div class="container" style="margin-top: 75px">
        <div class="row justify-content-md-center">
            <div class="col-md-8"><h2 class="text-center">{% trans "Редактирование новости" %}</h2></div>
        </div>
        <form method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="form-group g-3 col-md-6">
                    <h4 for="{{form.title_ru.auto_id}}" class="form-label">{{ form.title_ru.label }}</h4>
                    {% render_field form.title_ru class='form-control bg-light'%}
                    {% for error in form.title_ru.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group g-3 col-md-6">
                    <h4 for="{{form.status.auto_id}}" class="form-label">{{form.status.label}}</h4>
                    {% render_field form.status class='bg-light' data-bootstrap-switch="" data-off-color="dark" data-on-color="light"%}
                    <div class="invalid-feedback">
                        {{ form.status.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group g-3">
                <h4 for="{{form.title_uk.auto_id}}" class="form-label">{{ form.title_uk.label }}</h4>
                {% render_field form.title_uk class='form-control bg-light col-md-6'%}
                {% for error in form.title_uk.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error|striptags }}
                </div>
                {% endfor %}
            </div>
            {% for error in form.description_ru.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|striptags }}
            </div>
            {% endfor %} 
            <div class="form-group g-3" style="margin-top: 40px">
                <div class="col-md-12">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                {{ form.description_ru.label }}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% render_field form.description_ru class='bg-light'%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group g-3" style="margin-top: 40px">
                <div class="col-md-12">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                {{ form.description_uk.label }}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% render_field form.description_uk class='bg-light'%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group g-3">
                <h4 for="{{form.main_image.auto_id}}" class="form-label">{{ form.main_image.label }}</h4>
                <div class="card" style="width: 18rem;">
                    {% if form.main_image.value.url is not None %}
                        <img id="main_image" class="text-center" src="{{MEDIA_URL}}{{form.main_image.value.url}}" alt="main_image">
                    {% else %}
                        <img id="main_image" class="text-center" src="{% static 'img/default-image.jpg' %}" alt="main_image">
                    {% endif %}
                    <div class="card-body">
                        {{ form.main_image }}
                    </div>
                    {% for error in form.main_image.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="form-group g-3">
                <h4 class="form-label">{% trans "Галерея картинок" %}</h4>
                {{ gallery.management_form }}
                <div class="row" id="images">
                    {% for image_form in gallery %}
                    {% for hidden in image_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="col-md-6 col-xl-3">
                        <div class="card ms-2" style="width: 16rem; padding:30px;">
                            {% csrf_token %}
                            {% if image_form.image.value.url %}
                                {% render_field image_form.DELETE class="d-none"%}
                                {% with image_form.hidden_fields.0.value as image_id %}
                                <button class="col-2 btn btn-dark text-center align-self-end" type='button' delete-url="{% url 'admin:delete_image' image_id %}" image-id="{{ image_id }}" onclick="deleteImage(this, {{forloop.counter0}})">X</button>
                                {% endwith %}
                                <img id="gallery_image_{{forloop.counter0}}" class="gallery_image text-center" image-start-src='{{MEDIA_URL}}{{image_form.image.value.url}}' src="{{MEDIA_URL}}{{image_form.image.value.url}}" alt="...">
                            {% else %}
                                <button class="col-2 btn btn-dark text-center align-self-end" type='button' onclick="deleteImage(this, {{forloop.counter0}})">X</button>
                                <img id="gallery_image_{{forloop.counter0}}" class="gallery_image text-center" image-start-src='...' src="{% static 'img/default-image.jpg' %}" alt="...">
                            {% endif %}
                            <div class="card-body">
                                {{ image_form.image }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="empty_form" style="display:none">
                        <div class="col-md-6 col-xl-3">
                            <div class="card ms-2" style="width: 16rem; padding:30px;">
                                {% csrf_token %}
                                <button class="col-2 btn btn-dark text-center align-self-end" type='button' onclick="deleteImage(this, {{forloop.counter0}})">X</button>
                                <img id="gallery_image_{{forloop.counter0}}" class="text-center" src="{% static 'img/default-image.jpg' %}" alt="...">
                                <div class="card-body">
                                    {{ gallery.empty_form.image }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-light" id="add_more">
                    {% trans "Добавить ещё" %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg></button>
            </div>
            <div class="form-group g-3">
                <h4 for="{{form.youtube_link.auto_id}}" class="form-label">{{ form.youtube_link.label }}</h4>
                {% render_field form.youtube_link class='form-control bg-light'%}
                {% for error in form.youtube_link.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error|striptags }}
                </div>
                {% endfor %}
            </div>
            <h4>SEO блок</h4>
            <div class="row justify-content-md-center mb-2">
                <div class="col-lg-2"><h5 for="{{seo_form.seo_url.auto_id}}" class="form-label">{{ seo_form.seo_url.label }}:</h5></div>
                <div class="col-md-6">
                    {{ seo_form.seo_url }}
                    {% for error in seo_form.seo_url.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-md-center mb-2">
                <div class="col-lg-2"><h5 for="{{seo_form.seo_title.auto_id}}" class="form-label">{{ seo_form.seo_title.label }}:</h5></div>
                <div class="col-md-6">
                    {{ seo_form.seo_title }}
                    {% for error in seo_form.seo_title.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-md-center mb-2">
                <div class="col-lg-2"><h5 for="{{seo_form.seo_keywords.auto_id}}" class="form-label">{{ seo_form.seo_keywords.label }}:</h5></div>
                <div class="col-md-6">
                    {{ seo_form.seo_keywords }}
                    {% for error in seo_form.seo_keywords.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-md-center mb-2">
                <div class="col-lg-2"><h5 for="{{seo_form.seo_description.auto_id}}" class="form-label">{{ seo_form.seo_description.label }}:</h5></div>
                <div class="col-md-6">
                    {% render_field seo_form.seo_description class="form-control w-100 bg-light" rows="5" %}
                    {% for error in seo_form.seo_description.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-md-center">
                <input type="submit" class="btn btn-success col-md-2 justify-content-center mb-5" value="{% trans 'Cохранить' %}">
            </div>
        </form>
    </div>
{% endblock main_content %}

{% block extra_js %}
<script src="{% static 'admin/plugins/summernote/summernote-bs4.min.js' %}"></script>

<script src="{% static 'admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script src="{% static 'admin/custom/js/news_update.js' %}"></script>
{% endblock extra_js %}