{% extends 'admin/base.html' %}

{% load static widget_tweaks i18n template_tags %}

{% block title %}{% trans "Изменение сеанса" %}{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<div class="container"  style="margin-top: 75px">
    <div class="card">
        <div class="card-header"><h2 class="text-center">{% trans "Изменение сеанса" %}</h2></div>
        <div class="card-body">
            {% for message in messages %}
                <div class="alert alert-error">
                    <div class="alert alert-danger" role="alert">
                    {% render_field message.message %}<button type="button" class="text-light close" data-dismiss="alert">×</button>
                    </div>
                </div>
                {% endfor %}
            <form action="." method='POST'>
                {% csrf_token %}
                <div class="row">
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.movie.auto_id}}" class="form-label">{{ form.movie.label }}</h4>
                        {% render_field form.movie class='form-control bg-light'%}
                        {% for error in form.movie.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.hall.auto_id}}" class="form-label">{{ form.hall.label }}</h4>
                        <input type="text" class="form-control text-light bg-secondary" disabled value="{{form.instance.hall}}">
                        {% render_field form.hall class='form-control bg-light d-none'%}
                        {% for error in form.hall.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.time.auto_id}}" class="form-label">{{ form.time.label }}</h4>
                        <div class="input-group date" id="startdatetime" data-target-input="nearest">
                            {% render_field form.time class='form-control bg-light datetimepicker-input' data-target="#startdatetime"%}
                            <div class="input-group-append" data-target="#startdatetime" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        {% for error in form.time.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.format.auto_id}}" class="form-label">{{ form.format.label }}</h4>
                        {% render_field form.format class='form-control bg-light'%}
                        {% for error in form.format.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.price.auto_id}}" class="form-label">{{ form.price.label }}</h4>
                        {% render_field form.price class='form-control bg-light'%}
                        {% for error in form.price.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group g-3 col-md-6">
                        <h4 for="{{form.vip_price.auto_id}}" class="form-label">{{ form.vip_price.label }}</h4>
                        {% render_field form.vip_price class='form-control bg-light'%}
                        {% for error in form.vip_price.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error|striptags }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-primary" value="{% trans "Изменить сеанс" %}">
                </div>
            </form>
        </div>
    </div>
    <div id="id_hall_scheme">
        <div class="row">
            <div class="col-md-2"><h4>{% trans "Всего мест" %}: <span id="total_places">{{form.instance.total_places}}</span></h4></div>
            <div class="col-md-2"><h4>{% trans "Свободно" %}: <span id="total_free_places">{{form.instance.total_free_places}}</span></h4></div>
            <div class="col-md-4"><h4>{% trans "Забронировано" %}: <span id="total_booked_places">{{form.instance.total_booked_places}}</span> (<span id="booked_money">{{form.instance.booked_money}}</span> грн.)</h4></div>
            <div class="col-md-4"><h4>{% trans "Продано" %}: <span id="total_sold_places">{{form.instance.total_sold_places}}</span> (<span id="sold_money">{{form.instance.sold_money}}</span> грн.)</h4></div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col-md-6"><h4 class="form-label">{% trans "Пользователь, на которого будут записываться билеты" %}:</h4></div>
            <div class="col-md-6">
                <select name="user" class="form-control form-select bg-light" id="id_users">
                    {% for user in users %}
                        {% if forloop.counter0 == 0 %}
                            <option value="{{user.email}}" selected>{{user.full_name}} ({{user.email}})</option>
                        {% else %}
                            <option value="{{user.email}}">{{user.full_name}} ({{user.email}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="dropdown-divider"></div>
        <div class="row my-3">
            <img id="id-screen-img" class="w-100" src="{% static 'img/screen.png' %}" alt="screen">
        </div>
        {% for row in rows %}
            <div class="row justify-content-center mt-2" id="row_{{row}}">
                {% get_hall_row_places form.instance.hall row  as row_places %}
                {% if row_places.0.row > 0 %}
                    <label for="row_{{row}}" class="col-1 d-flex align-items-center form-col-label">{% trans "Ряд" %} {{row_places.0.row}}</label>
                {% else %}
                    <label for="row_{{row}}" class="col-1 d-flex align-items-center form-col-label"> </label>
                {% endif %}
                {% for place in row_places %}
                    <div id="row_{{place.real_row}}_col_{{place.real_position}}">
                        {% if place.number < 0 %}
                            {% define "invisible" as btn_class %}
                            <button class="invisible m-1" type="button" style="height: {{px}}px; width: {{px}}px;"></button>
                        {% else %}
                            {% get_ticket_from_place form.instance place as ticket %}
                            {% if ticket.place.is_vip %}
                                {% define "success" as btn_class %}
                                {% if ticket.status == '0' %}
                                    {% define "" as extra_btn_class %}
                                {% elif ticket.status == '1' %}
                                    {% define "bg-gradient-warning" as extra_btn_class %}
                                {% elif ticket.status == '2' %}
                                    {% define "bg-gradient-danger" as extra_btn_class %}
                                {% endif %}
                                {% define ticket.place.number as number %}
                            {% else %}
                                {% define "info" as btn_class %}
                                {% if ticket.status == '0' %}
                                    {% define "" as extra_btn_class %}
                                {% elif ticket.status == '1' %}
                                    {% define "bg-gradient-primary" as extra_btn_class %}
                                {% elif ticket.status == '2' %}
                                    {% define "bg-gradient-dark" as extra_btn_class %}
                                {% endif %}
                                {% define ticket.place.number as number %}
                            {% endif %}
                            <button class="badge badge-{{btn_class}} {{extra_btn_class}} m-1 text-wrap" data-toggle="dropdown" aria-haspopup="true" 
                                aria-expanded="false" type="button" pos="{{place.real_position}}" style="height: {{px}}px; width: {{px}}px;"
                                vip="{{ticket.place.is_vip}}" id="row_{{place.real_row}}_col_{{place.real_position}}_btn" ticket-update-url="{% url 'admin:ticket_update' ticket.pk %}"><span>{{number}}</span>
                            </button>
                            <div class="dropdown-menu" id="row_{{place.real_row}}_col_{{place.real_position}}_btn_dropdown">
                                {% if ticket.status == '0' %}
                                    <div class="dropdown-item book"><span>Забронировать</span></div>
                                    <div class="dropdown-item sell"><span>Продать</span></div>
                                {% elif ticket.status == '1'%}
                                    <div class="dropdown-item free"><span>Снять бронь</span></div>
                                    <div class="dropdown-item sell"><span>Продать</span></div>
                                {% elif ticket.status == '2'%}
                                    <div class="dropdown-item free"><span>Освободить</span></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'admin/custom/js/session_update.js' %}"></script>
{% endblock extra_js %}