asgiref==3.3.4
django-debug-toolbar==3.2.1
django-modeltranslation==0.17.2
django-multiselectfield==0.1.12
django-widget-tweaks==1.4.8
django==3.2.3
pillow==8.2.0
psycopg2==2.8.6
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
django-seconds-field==0.1.0
